/* banner style */
.new-year {
    font-family: 'Merriweather', serif;
    
}
.banner {
    background-image: url(./resources/Banner\ Image.png);
    width: 1220px;
    height: 600px;
    font-family: 'Merriweather', serif;
    color: #FFF;
    border-radius: 16px;
    margin: auto;
}
.title {
    border-radius: 16px;
    height: 450px;
    text-align: center;
    padding-top: 150px;
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)); 
}
.new-year{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.celebrate {
    font-size: 72px;
    font-weight: 900;
    padding: 0px 177px;
    transform: translateY(-40px)
}
/* main section */
.offer {
    text-align: center;
}
.discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.dis-para {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.category {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.image {
    width: 802.9px;
    height: 500px;
    margin: auto;
}