
/* banner style */
.new-year {
    font-family: 'Merriweather', serif;
    
}
.banner {
    background-image: url(./resources/Banner\ Image.png);
    width: 1220px;
    height: 600px;
    font-family: 'Merriweather', serif;
    color: #FFF;
    border-radius: 16px;
    margin: auto;
}
.title {
    border-radius: 16px;
    height: 450px;
    text-align: center;
    padding-top: 150px;
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)); 
}
.new-year{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.celebrate {
    font-size: 72px;
    font-weight: 900;
    padding: 0px 177px;
    transform: translateY(-40px)
}
/* main section */
.offer {
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.dis-para {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.category {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.image {
    width: 802.9px;
    height: 500px;
    margin: auto;
}
/* midnight party */
.midnight {
    background-image: url(./resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    padding-left: 120px;
    padding-top: 80px;
    display: flex;
    margin: 120px auto;
}
.welcome {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.welcome-para {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.year {
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}
/* date time section */
.date-time {
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 1320px;
    height: 482px;
    margin: auto;
    padding-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
span {
    color: #F00;
}
.schedule {
    color: #070211;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
}
.btn-join {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
}
/* portfolio style */
.portfolio {
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    display: block;
}

.portfolio-head {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.portfolio-head2{
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.portfolio-para {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
/* newsletter */
.newsletter {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 600px auto 0px;
    justify-content: center;
    align-items: center;

}
img {
    align-items: center;
}
.message {
    text-align: center;
}
footer {
    width: 1320px;
    height: 609px;
    background: #070211;
    margin: 120px auto;

}
.upper {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: 'Inter' ;
    font-size: 24px;
    font-weight: 500;
    padding: 60px 100px;
}
.middle{
    display: flex;
    justify-content: center;
}
hr {
    display: none;
}
.lower {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 0px 100px;
}